
/*--CARSON BAIN and ANITA KHUU MAIN STYLE SHEET COMP 1950 PROJECT--*/
/*--FONTS--*/
h2, h1, #nav li, h3, h4, h5, h6, aside, #mobile-nav li {
  font-family: 'Source Sans Pro', sans-serif;
}
p, .main-container li, input {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
a {
    color: #333;
}
/*--HEAD--*/
.head-wrap {
    box-shadow: 0px 2px 6px #d4d4d4;
    position: fixed;
    top: 0;
    width: 100%;
    background: url('../home/head-img.jpg') no-repeat;
    background-size: cover;
    z-index: 100;
    color: #fff;
    height: auto;
}
.background-fade {
    background-color: #292727b8;
    min-height: 150px;
}
.head-wrap li > a {
  color: #fff;
}
.title-wrap {
  display: inline-block;
  margin: 0 20px;
}

.title-wrap h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-size: 32px;
    margin: 2% 0;
}
span.title-txt {
    font-size: 20px;
}
@media screen and (max-width: 830px) {
  .title-wrap h1 {
    font-size: 25px;
  }
  span.title-txt {
      font-size: 18px;
  }
}

/*--NAV--*/
#nav a, aside a, #mobile-nav a {
  text-decoration: none;
}
i.fa.fa-caret-down {
    margin-left: 3px;
}
#nav > li, aside > li {
    position: relative;
    list-style: none;
    padding: 25px 10px;
}
#nav li, aside li {
    display: inline-block;
}
nav ul {
    margin-bottom: 0;

}
/*--NAV DROPDOWN--*/
.nav-drop {
    position: absolute;
    list-style: none;
    display: none;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    width: 200px;
    top: 67px;
    box-shadow: 0px 2px 6px #afafaf;
    z-index: 100;
    color: #ccc;
}
.head-wrap .nav-drop a {
  color: #333;
}
#nav li:hover .nav-drop, aside li:hover .nav-drop {
    display: block;
}
.nav-drop li {
    padding: 8%;
}
/*--SEARCH BAR--*/
.search-wrap {
  float: right;
  margin-right: 40px;
}
#nav  > li.search-wrap {
  padding-bottom: 16px;
}

input.search-box {
    min-width: 250px;
    background-color: rgba(255, 255, 255, 0.27);
    height: 25px;
    border-radius: 25px;
    border: none;
    transition: all 0.3s ease;
    color: #fff;
    padding-left: 10px;
}
input.search-box:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px #f17629;
}
input.search-box::placeholder {
    color: rgba(255, 255, 255, 0.35);
}
a.search-btn {
    margin-left: 5px;
    transition: all 0.3s ease;
    color: #fff;
}
a.search-btn:hover {
  color: #f17629;
}
@media screen and (min-width: 860px) {
  .search-wrap {
    display: inline-block;
  }
  .search-wrap.search-mobile {
    display: none;
  }

}
@media screen and (max-width: 859px) {
  .search-wrap {
    display: none;
  }
  .search-wrap.search-mobile {
    display: block;
  }
  .search-mobile .search-box {
    min-width: 175px;
}
}
/*--MOBILE NAV--*/
#mob-nav-icon {
  color: #fff;
  text-decoration: none;
}
#mob-nav-icon, #exit-nav {
  padding-left: 40px;
}
#mobile-nav ul, #mobile-nav li {
    list-style: none;
}
#mobile-nav {
    padding-bottom: 3%;
}
#mob-nav-list li {
    padding: 3px 0;
}
.mob-second-drop {
  color: #ccc;
}
@media screen and (min-width: 860px ) {
  #mob-nav-icon {
    display: none;
}
}
@media screen and (max-width : 859px) {
  #mob-nav-icon {
    display: block;
    margin-top: 25px;
  }
  #nav {
    display: none;
  }
}
/*--MAIN--*/
body {
    margin: 0;
}
main.main-container {
    margin-top: 175px;
    margin-left: 6%;
    margin-right: 6%;
}
/*--HIDE HEADER BUTTON--*/
.hide-header, .show-header {
    padding: 10px;
    width: auto;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    display: inline-block;
    border-radius: 4px;
    background-color: #f17629;
    box-shadow: 1px 2px 3px #d4d4d4;
}
.hide-header a, .show-header a {
      color: #fff;
      font-size: 12px;
}
.hide-header:hover, .show-header:hover {
    background-color: #f17629;
}
.hide-header:hover a, .show-header:hover a {
  color: #fff;
}
.disabled, .disabled a {
  opacity: 0.65;
  cursor: not-allowed;
  background: transparent;
  color: #f17629;
  box-shadow: none;
}
/*--INFO BAR--*/
.info-bar {
    background-color: #a3dbe2;
    border: 2px solid #71e1ef;
    padding: 0 1%;
    color: #346b71;
    margin: 0 auto;
    text-align: center;
}
.info-bar a {
  color: #346b71;
}
/*--CONTENT--*/
#main-content {
    margin-top: 25px;
}
.content-block {
    border: 1px solid #b3b3b3;
    padding: 1% 3%;
    border-radius: 4px;
    box-shadow: 1px 2px 3px #d4d4d4;
    margin-bottom: 30px;
}
h2.content-head {
    font-size: 30px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 5px;
}
#main-content a {
  color: #f17629;
}
.content-img {
    text-align: center;
}
.content-img img {
    margin: 15px 0;
    width: 100%;
    height: auto;
    max-width: 500px;
}
ol {
    overflow-wrap: break-word;
}
/*--FOOTER--*/
footer {
    margin-top: 5%;
    background-color: #afafaf;
    color: #fff;
    padding: 10px 20px;
}
footer a {
  color: #fff;
}
footer p {
    display: inline-block;
}

.validate {
  float: right;
  text-decoration: none;
}
.school-logo img {
  width: 40px;
  height: 40px;
  margin: 5px 10px;
  float: right;
}
