/*--CARSON BAIN and ANITA KHUU PRINT STYLE SHEET COMP 1950 PROJECT--*/

aside, nav, .hide-header, .info-bar, .validate, footer img {
    display: none;
}
/*--THIS STYLE GETS CONFLICTED WHEN JS IS ACTIVATED FROM SHOW/HIDE HEADER BUTTON--*/
main.main-container {
    margin-top: 0px;
  }
header{
    background-color: white;
    text-align: center;
    height: 10px;
}

.title-wrap h1, span.title-txt{
    font-size: 16px;
    color: black;
    z-index: 1;
}

.head-wrap {
    box-shadow: 0px 2px 6px #FFF;
}
.content-block{
    top: -200px;
    border:0px;
}

footer > p{
    margin: auto;
    text-align: center;
    font-size: 10px;
    background-color: white;
}
